<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistration</servlet-name>
        <servlet-class>ServletRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisteredServlet</servlet-name>
        <servlet-class>RegisteredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidateInterview</servlet-name>
        <servlet-class>CandidateInterview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterviewResult</servlet-name>
        <servlet-class>InterviewResult.InterviewResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultInterview</servlet-name>
        <servlet-class>ResultInterview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNewUser</servlet-name>
        <servlet-class>ServletNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNewEmployee</servlet-name>
        <servlet-class>ServletNewEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayNewUserServlet</servlet-name>
        <servlet-class>DisplayNewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayNewEmployee</servlet-name>
        <servlet-class>DisplayNewEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAdmissionServlet</servlet-name>
        <servlet-class>NewAdmissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayNewAdmissionServlet</servlet-name>
        <servlet-class>DisplayNewAdmissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PettyCashServlet</servlet-name>
        <servlet-class>PettyCashServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPettyCashServlet</servlet-name>
        <servlet-class>DisplayPettyCashServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCompanyRegistrationServlet</servlet-name>
        <servlet-class>NewCompanyRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayNewCompanyRegistrationServlet</servlet-name>
        <servlet-class>DisplayNewCompanyRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTpoPettyCash</servlet-name>
        <servlet-class>ServletTpoPettyCash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardOwner</servlet-name>
        <servlet-class>DashboardOwner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistration</servlet-name>
        <url-pattern>/ServletRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisteredServlet</servlet-name>
        <url-pattern>/RegisteredServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidateInterview</servlet-name>
        <url-pattern>/CandidateInterview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterviewResult</servlet-name>
        <url-pattern>/InterviewResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultInterview</servlet-name>
        <url-pattern>/ResultInterview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNewUser</servlet-name>
        <url-pattern>/ServletNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNewEmployee</servlet-name>
        <url-pattern>/ServletNewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayNewUserServlet</servlet-name>
        <url-pattern>/DisplayNewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayNewEmployee</servlet-name>
        <url-pattern>/DisplayNewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAdmissionServlet</servlet-name>
        <url-pattern>/NewAdmissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayNewAdmissionServlet</servlet-name>
        <url-pattern>/DisplayNewAdmissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PettyCashServlet</servlet-name>
        <url-pattern>/PettyCashServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPettyCashServlet</servlet-name>
        <url-pattern>/DisplayPettyCashServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCompanyRegistrationServlet</servlet-name>
        <url-pattern>/NewCompanyRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayNewCompanyRegistrationServlet</servlet-name>
        <url-pattern>/DisplayNewCompanyRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTpoPettyCash</servlet-name>
        <url-pattern>/ServletTpoPettyCash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardOwner</servlet-name>
        <url-pattern>/DashboardOwner</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
